body{
    font: normal 20pt Arial;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gainsboro;
}
h2{
    font: normal 20pt Arial;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 10px;
}
button{
    margin-top: 10px;
}