div#div1{
    display: flex;
    margin: auto;
    margin-left: 38%;
    margin-right: 38%;
    justify-content: center;
    align-self: center;
    background-color: aqua;
    padding: 30px;
    background-color: gold;
    border: 2px solid gray;
    border-radius: 10px;
}
body{
    background-color: aliceblue;
}